body
{
    background-color: #E9A6A6;
}
h1,h2,h3,h4,h5,h6
{
    font-style: italic;
    color: #3F3351;
}
p,a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#liste{
    list-style-position: inside;
    list-style: none;
}